/* 


transition-property: property-name, property name, property name;
transistion-duration: duration
transition-timing-function: timing function
transition-delay: delay

shorthand
transition: [property] [duration] [timing function] [delay]

*/
